@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css */
body {
  margin: 0;
  font-family: sans-serif;
  background-image: url('/background.jpeg'); /* Ensure this path is correct */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

